.sidebar-chevron-container {
    position: absolute;
    z-index: 40;
    top: 50%;
    left: 0;
    display: flex;
    width: 32px;
    height: 72px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-chevron-upper-opened {
    width: 4px;
    height: 12px;
    background-color: gray;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    transform: rotate(0);
    transition: all .3s ease;
}

.sidebar-chevron-container:hover .sidebar-chevron-upper-opened {
    background: white;
    transform: translateY(0.05rem) rotate(15deg);
}

.sidebar-chevron-lower-opened {
    width: 4px;
    height: 12px;
    background-color: gray;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    transform: rotate(0);
    transition: all .3s ease;
}

.sidebar-chevron-container:hover .sidebar-chevron-lower-opened {
    background: white;
    transform: translateY(-0.05rem) rotate(-15deg);
}

.sidebar-chevron-upper-closed {
    width: 4px;
    height: 12px;
    background-color: gray;
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    transform: translateY(0.05rem) rotate(-15deg);
    transition: all .3s ease;
}

.sidebar-chevron-container:hover .sidebar-chevron-upper-closed {
    background: white;
}

.sidebar-chevron-lower-closed {
    width: 4px;
    height: 12px;
    background-color: gray;
    border-bottom-left-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
    transform: translateY(-0.05rem) rotate(15deg);
    transition: all .3s ease;
}

.sidebar-chevron-container:hover .sidebar-chevron-lower-closed {
    background: white;
}